@import"reset.css";@import"grid.css";@import"forms.css";@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,800italic);@import"ui.totop.css";
body{
	background:#29292d;
	font:13px/20px Arial, Helvetica, sans-serif;
	color:#707070;
	position:relative;
	min-width:980px;
}
html,body{height:100%;}
p{padding-bottom:18px;}
a{color:#56A4EC;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#fff;font-family: 'Open Sans', sans-serif; font-weight:300; font-style:italic; margin-bottom:25px; }
h1{font-size:40px;}
h2{font-size:35px;}
h3{font-size:30px;} 
h4{font-size:27px;}  
h5{font-size:25px;}
h6{font-size:22px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}

.logo {
	display:block; 
	width:164px; 
	height:91px; 
	text-indent:-5000px; 
	background:url(../images/logo.png) 0 0 no-repeat;
}

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	background:url(../images/header-bg.gif) repeat-x 0 0 #c5cad0;
	z-index:2;
}

#search input {
    background: url(../images/search-bg.gif) repeat-x 0 0 #E1E4E7;
    border-radius: 20px;
	border:1px solid #D2D5D8;   
    box-shadow: 0 2px 3px -1px #FFFFFF;
    color: #646464;
    display: inline-block;
	height:15px;
	line-height:15px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    outline: medium none;
    padding: 6px 13px 7px;
    width: 161px;
}


.search-button {
	display:block;
	position:absolute;
	background:url(../images/search-marker.png) no-repeat 0 0;
	width:16px;
	height:17px;
	right: 15px;
    top: 22px;
}

.search-button:hover {
	background-position: 0 -40px;
}


#search {
    float: right;
    margin-bottom: 33px;
    padding-right: 40px;
    padding-top: 13px;
    position: relative;
}

header h1 {
	padding:11px 0 0 10px;
	margin:0;
	font-size:0;
	float:left;
	line-height:0;
}

.head-box2 {
	float:right;
}

.head-box1 {
	padding-bottom:16px;
}

/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}


nav {
    float: right;
    margin-right: 6px;
}

.last2 {
	background:none !important;
}

.sf-menu {
	line-height:	1.0;
}

.sf-menu li {
    background: url("../images/divider1.png") repeat-y scroll right 0 transparent;
    float: left;
    padding-left: 19px;
    padding-right: 22px;
    position: relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
	color:#a6a7a9;
	font-weight:800;
	font-size:14px;
	line-height:17px;
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	text-shadow:0 1px 0 #eef0f2;
}

.sf-menu a:hover,
.sf-menu a.active,
.sf-menu li.sfHover > a {
	color:#4c95dd;
	text-decoration:none;
}

.sf-menu a:hover .sf-sub-indicator,
.sf-menu li.sfHover .sf-sub-indicator {
	background-position:0 -25px;
}


.sf-sub-indicator {
    background: url("../images/marker1.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 7px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 5px;
}

.sf-menu ul .sf-sub-indicator {
	display:none !important;
}


.sf-with-ul {
	padding-right:25px !important;
}

.sf-menu ul {
    background: none repeat scroll 0 0 #509BE6;
    padding: 12px 10px 16px;
    position: absolute;
    top: -999em;
    width: 122px;
	box-shadow:0 1px 4px 3px rgba(0, 0, 0, 0.09);
}

.sf-menu ul li {
    background: url("../images/bg-15.png") repeat scroll 0 0 transparent;
    border-radius: 20px;
    padding:0;
    width: 100%;
	margin:2px 0;
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover  {
	background:#4784c7;
}

.sf-menu ul li:hover a,
.sf-menu ul li.sfHover > a  {
	color:#fff;
}
	
.sf-menu ul a {
	color:#fff;
	padding: 4px 11px 5px;
	text-shadow:0 1px 0 #3d77b1;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			42px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 133px;
    top: -13px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/********************** Content ************************/

#content {
	width:100%; 	
	padding: 56px 0 49px;
	position:relative;
	z-index:1;
	background:url(../images/content-bg2.gif) repeat-x 0 0 #29292d;
}

#page1 #content {
	background:url(../images/content-bg.gif) repeat-x 0 0 #29292d;
    padding:21px 0 38px;
}



#page4 #content {
    padding:56px 0;
}

#page6 #content {
    padding: 56px 0 38px;
}

																									/***** Page 1 *****/



.page1-box1 {
    background: url("../images/page1-bg1.gif") repeat-x scroll 0 0 #275b9e;
    box-shadow: 0 3px 3px #202023;
    overflow: hidden;
    padding: 21px 30px 30px;
	color:#7dc1ff;
}

.page1-box1 span {
	display:block;
	background:url(../images/divider2.gif) repeat-x 0 bottom;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:800;
	font-style:italic;
	font-size:24px;
	line-height:29px;
	margin-bottom:15px;
	padding-bottom: 13px;
}

.button1 {
	display:inline-block;
	color:#a8a9ab;
	background: url(../images/button1.gif) repeat-x 0 0 #c6cbd1;
	font-family: 'Open Sans', sans-serif;
	text-shadow:0 1px 0 #edeff0;
	font-weight:800;
	font-style:italic;
	border:none;
	border-top:1px solid #f9fafa;
	border-radius:20px;
	box-shadow: 0px 1px 2px #204779;
	padding:7px 13px 8px;
	font-size:12px;
	line-height:15px;
}

.button1:hover {
	background:#00a3fe;
	text-decoration:none;
	border-top:1px solid transparent;
	color:#fff;
	text-shadow:none;
}

#page404 
#content {
    padding: 56px 0 45px;
}

.p7 {padding-bottom:15px;}

.p8 {
	background:url(../images/page1-bg2.gif) repeat-x 0 0 #3a8ee2;
	color:#b7ddff;
}

.p8 span {
	background:url(../images/divider3.gif) repeat-x 0 bottom;
}

.p9 span {
	background:url(../images/divider4.gif) repeat-x 0 bottom;
}

.p9 {
	background:url(../images/page1-bg3.gif) repeat-x 0 0 #4a9eea;
	color:#b7ddff;
}

.p10 {
	background:url(../images/border1.gif) repeat-x 0 bottom;
	padding-bottom:23px;
	margin-bottom: 32px;
}
	
	
.page1-box2 {
	overflow:hidden;
	text-align:center;
	position:relative;
}

.page1-img1-1 {
	position:absolute;
	z-index:0;
	top:0;
	left:1px;
}

.page1-box2 span {
	display:block;
	color:#fff;
	margin-bottom:4px;
	font-style:italic;
	font-size:18px;
	font-weight:800;
	font-family: 'Open Sans', sans-serif;
	line-height:22px;
}


.link1 {
    background: url("../images/marker2.png") no-repeat scroll right 8px transparent;
    color: #56A4EC;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    padding-right: 17px;
    text-decoration: underline;
}

.link1:hover {
	color:#fff;
	text-decoration:none;
}

.page1-img1 {
	margin-bottom:25px;
	position:relative;
	z-index:999;
}

.page1-img1:hover {
	opacity:0;
}


.p11 {
    background: url("../images/border1.gif") repeat-x scroll 0 bottom transparent;
    margin-bottom: 32px;
    padding-bottom: 40px;
}

.p12 {
	margin-bottom:17px;
}

.page1-box3 {
	overflow:hidden;
	padding-right:90px;
}

.p13 {
	padding-bottom:25px;
}

.text1 {
	color:#707070;
	background:none;
	padding:0;
	line-height:20px;
}

.text1 a {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	color:#fff;
	margin-top:20px;
	font-weight:800;
	font-style:italic;
	line-height:22px;
}

.text1 a:hover {
	color:#56a4ec;
	text-decoration:none;
}

.text1 span {
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:17px;
	font-style:italic;
	font-weight:300;
	color:#56a4ec;
}

.border2 {
	background:url(../images/border2.gif) repeat-y 708px 0;
	overflow:hidden;
}



.nav {
	position:absolute;
	top:-38px;
	right:0px;
	z-index:9999;
}

.nav a {
	display:block;
	width:11px;
	float:left;	
	margin-left:6px;
	height:11px;
	background:url(../images/pagin-a1.png) no-repeat 0 0;
	text-indent:-1000px;
}

.posrel {
	position:relative;
}

.activeSlide,
.nav a:hover {
	background-position:0 -47px !important;
}

.border3 {
	background:url(../images/border2.gif) repeat-y 360px 0;
	overflow:hidden;
}

/***** Page 2 *****/



.page2-box1 {
    border-bottom: 1px solid #3F3F42;
    margin-bottom: 19px;
    overflow: hidden;
    padding-bottom: 3px;
}


.inner1 {
    background: url(../images/marker3.png) no-repeat 0 0;
    color: #FFFFFF;
    float: left;
    font-size: 36px;
    font-weight: bold;
    height: 60px;
    line-height: 44px;
    margin-right: 19px;
    margin-top: 5px;
    padding-top: 3px;
    text-align: center;
    width: 51px;
}

.link2 {
	color:#fff;
}

.link2:hover {
	color:#56a4ec;
	text-decoration:none;
}

.last3 {
	border:none;
}

.border1 {
	background: url("../images/border1.gif") repeat-x scroll 0 bottom transparent;
    margin-bottom: 36px;
    padding-bottom: 2px;	
}

.list1 a {
	color:#56a4ec;
	font-size:13px;
	text-decoration:underline;
}


.list1 li {
    background: url("../images/marker4.png") no-repeat scroll 0 6px transparent;
    display: block;
    line-height: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
}

.list1 a:hover {
	color:#fff;
	text-decoration:none;
}

.text2 {
	display:block;
	color:#fff;
	margin-bottom:20px;
}

.page2-box2 {
	overflow:hidden;
	background: url("../images/border1.gif") repeat-x scroll 0 bottom transparent;
    margin-bottom: 36px;
    padding-bottom:48px;	
}

.page2-box3 {
	overflow:hidden;
	background:#343438;
	float:left;
	width:148px;
	margin-right:18px;
	margin-bottom:19px;
	padding:10px 10px 13px;
}

.page2-box3  span {
	display:block;
}

.p14 {
	margin-bottom:24px;
}

.page2-img1 {
	margin-bottom:11px;
}

.last4 {
	margin-right:0 !important;
}
																									/***** Page 3 *****/


.page3-box1 {
	overflow:hidden;
	background:#343438;
	padding:15px;
	margin-bottom:20px;
}

.link3 {
	color:#56a4ec;
}

.page3-box1 span {
	display:block;
}


.link3:hover {
	color:#fff;
	text-decoration:none;
}

.page3-img1 {
	margin-bottom:12px;
}

.p15 {
	margin-bottom:22px;
}


																									/***** Page 4 *****/



.inner3 {
    background: url("../images/marker3.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 55px;
    line-height: 15px;
    margin-right: 19px;
    margin-top: 3px;
    padding-top: 11px;
    text-align: center;
    width: 51px;
}
.inner3 span {display:block;}

.inner5 {
	color:#fff;
	font-size:22px;
	line-height:27px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-style:italic;
	margin-bottom:7px;
}

.p16 {
	margin-bottom:19px;
}

.comment {
	color:#fff;
}

.comment:hover {
	color:#56a4ec;
	text-decoration:none;
}

.page4-img1 {
	float:left;
	margin-right:19px;
}

.inner2 {
	overflow:hidden;
	margin-bottom:15px;
}

.inner4 span {
	color:#fff;
}

.inner4 p {
	padding-bottom:26px;
}

.page4-box1 {
	overflow:hidden;
	margin-bottom:53px;
}

.border4 {
	background: url("../images/border1.gif") repeat-x scroll 0 bottom transparent;
    margin-bottom: 34px;
    padding-bottom: 33px;	
}

																									/***** Page 5 *****/


.page5-box1 {
	overflow:hidden;
}

.page5-box1 span {
	color:#fff;
	display:block;
}

.page5-box1 p {
	padding-bottom:20px;
}

.page5-box1 a {
	color:#fff;
	text-decoration:underline;
}

.page5-box1 a:hover {
	color:#56a4ec;
	text-decoration:none;
}
																									
.p17 {
	background:url(../images/border2.gif) repeat-y 600px 0;
	overflow:hidden;
}
																								

.dl1 dt {width:150px; color:#56a4ec; margin-top:25px;}

.dl1 span {float:left; width:82px;}

.dl1 dd { line-height:20px;}

.dl1 dd a {color:#fff; text-decoration:underline;}

.dl1 dd a:hover {color:#56a4ec; text-decoration:none;}
	
/******************** Footer ******************/
footer {
	width:100%; 
	padding:0 0 30px;
}

.foot-page1 {
	padding-top:29px;
	overflow:hidden;
	font-size:12px;
	float:left;
	line-height:15px;
}

.soc-link {
	display:block;
	float:right;
	width:20px;
	margin-top:29px;
	height:15px;
	background:url(../images/soc-link.png) no-repeat 0 0;
}

.soc-link:hover {
	background-position:0 -80px;
}

.foot-page1 a {
	color:#707070;
}

.foot-page1 a:hover {
	color:#56a4ec;
	text-decoration:none;
}

footer .main {
	width:940px;
	background:url(../images/border1.gif) repeat-x 0 0;
}